<div class="container">
    <link rel="stylesheet" href="../../css/home.css">
    <div class="col-md-2 center-block">
    </div>
    <div class="col-md-6 center-block well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="../../files/profile.jpg" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>Ran Tayeb</h3>
        <em>For mor info, click my face</em>
		</center>
    </div>
    <div class="col-md-4 center-block" >
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Ran</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="../../files/profile.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Ran Tayeb <small>Israel</small></h3>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">C#</span>
                        <span class="label label-info">Android</span>
                        <span class="label label-info">Java</span>
                        <span class="label label-success">Node.js</span>
                        <span class="label label-success">Angular.js</span>
                        <span class="label label-info">MongoDB, mySql, SQL Server</span>
                        <span class="label label-info">Unity Engien</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: Hi all, i'm Ran, A C# developer, in my spare time i love to do Game design, Android, node.js and angular.js</strong><br>
                        </p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Ran</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>