<div class="container">
	<div class="row">
    <link rel="stylesheet" href="../../css/login.css">
    <br>
    <br>
<!-- Facebook Log in Form boot -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5715866801509976"
     data-ad-slot="8095114049"
     data-ad-format="auto"></ins>
<br>
<br>
	<div id="loginform">
<div ng-click="FacebookLogIn()" id="facebook">
	<i class="fa fa-facebook"></i>
	<div id="connect" >Connect with Facebook</div>
	
</div>
<div id="mainlogin">
<div id="or">or</div>
<h1>Log in</h1>
<form action="#">
<input type="text" placeholder="username" value="" required>
<input type="password" placeholder="password" value="" required>
<button ng-click="LogIn()" type="submit"><i class="fa fa-arrow-right"></i></button>
</form>
</div>
	</div>
</div>